<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>

<body>
    <h1>Cadastro - Funcionario</h1>
    <a href="/home">Home</a>
    <a href="/cadastrar/funcionario">Cadastro</a>
    <a href="/listar/funcionarios">Clientes</a>

    </br></br>

    <form th:action="@{/cadastrar/funcionario}" th:object="${funcionario}" method="post">
        <label for="nome">Nome: </label>
        <input type="text" th:field="*{nome}">
        </br>
        <label for="cpf">CPF: </label>
        <input type="text" th:field="*{cpf}">
        </br>
        <label for="cargo">Cargo: </label>
        <input type="text" th:field="*{cargo}">
        </br>
        <button type="submit">Cadastrar</button>
    </form>
</body>

</html>