<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem</title>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 5px;
        }

        th {
            text-align: left;
        }
    </style>
</head>

<body>
    <h1>Cadastrar - Funcionario</h1>
    <a href="/home">Home</a>
    <a href="/cadastrar/funcionario">Cadastro</a>
    <a href="/listar/funcionarios">Clientes</a>

    </br></br>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>Cargo</th>
                <th>Email</th>
                <th>Senha</th>
                <th>Atualizar</th>
                <th>Deletar</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="funcionario : ${funcionarios}">
                <td th:text="${funcionario.id}"></td>
                <td th:text="${funcionario.nome}"></td>
                <td th:text="${funcionario.cpf}"></td>
                <td th:text="${funcionario.cargo}"></td>
                <td th:text="${funcionario.email}"></td>
                <td th:text="${funcionario.senha}"></td>
                <td>
                    <a href="/atualizar/funcionario" th:href=@{/atualizar/funcionario/{funcionarioid}(funcionarioid=${funcionario.id})}>Atualizar</a>
                </td>
                <td>
                    <a href="/deletar/funcionario" th:href=@{/deletar/funcionario/{funcionarioid}(funcionarioid=${funcionario.id})}>Deletar</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>