<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem</title>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 5px;
        }

        th {
            text-align: left;
        }
    </style>
</head>

<body>
    <h1>Titulos</h1>
    <a href="/home">Home</a>
    <a href="/cadastrar/titulo">Cadastro</a>
    <a href="/listar/titulos">Titulos</a>

    </br></br>

    <table>
        <thead>
            <tr>
                <th>ID_titulo</th>
                <th>Parcelas</th>
                <th>Id_funcionario</th>
                <th>Id_cliente</th>
                <th>data_geracao</th>
                <th>data_vencimento</th>
                <th>valor</th>
                <th>codigo_barra</th>
                <th>qr_code</th>
                <th>numero_boleto</th>
                <th>nome_produto</th>
                <th>Atualizar</th>
                <th>Deletar</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="titulo : ${titulos}">
                <td th:text="${titulo.id_titulo}"></td>
                <td th:text="${titulo.parcelas}"></td>
                <td th:text="${titulo.id_funcionario}"></td>
                <td th:text="${titulo.id_cliente}"></td>
                <td th:text="${titulo.data_geracao}"></td>
                <td th:text="${titulo.data_vencimento}"></td>
                <td th:text="${titulo.valor}"></td>
                <td th:text="${titulo.codigo_barra}"></td>
                <td th:text="${titulo.qr_code}"></td>
                <td th:text="${titulo.numero_boleto}"></td>
                <td th:text="${titulo.nome_produto}"></td>
                <td>
                    <a href="/atualizar/titulo" th:href=@{/atualizar/titulo/{tituloid}(tituloid=${titulo.id_titulo})}>Atualizar</a>
                </td>
                <td>
                    <a href="/deletar/titulo" th:href=@{/deletar/titulo/{tituloid}(tituloid=${titulo.id_titulo})}>Deletar</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>